// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
/* mixins */
.columnflex {
	display: flex;
	flex-flow: column;
}
.paratext {
	font-size: 1rem;
	color: @mainmid;
	text-align: justify;
}
.sideparaspace {
	margin: 5%;
	padding: 5%;
}

/*variables */
@maindark: #BED2E9;
@mainlight: #F1F1F1;
@mainmid: #243C4E;
.funborder{
	border: 2px dashed @mainmid;
} 

html {
	body {
		display: flex;
		height: 100%;
		font-size: 62.5%;
		margin: 1%;
		background-color: @mainlight;
		.sidebar {
			width: 10rem;
			background-color: @maindark;
			color: @mainmid;
			height: 1000px;
			align-items: center;
			.columnflex;
			img {
				border-radius: 100%;
				width: 8rem;
				margin: 1rem;
			}
			.intro {
				.paratext;
				.sideparaspace;
				.funborder;
			}
			.skills {
				.paratext;
				text-align: center;
				margin: 20%;
				.funborder;
			}
			footer {
				display: flex;
				align-items: flex-end;
			}
		}
		.rightside {
			width: 100%;
			header {
				width: 100%;
				height: 20%;
				background-color: @mainmid;
				color: @mainlight;
				padding: 5%;
				h1{
					font-size: 2rem;
					width: 100%;
					text-align: center;
				}
				nav {
					justify-content: space-around;
					align-items: center;
					display: flex;
					a {
						margin: 3.5% 5%;
						font-size: 1.0rem;
						text-align: center;
						color: #DFDFDD;
						display: inline-block;
						text-decoration: none;
						@media screen and (max-width: 550px) {
							color: red;
						}
					}
				}

		}
		
		}
	}
} 


